<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- 自定义 Appender -->
        <MyCustomAppender name="PremiumTerminal">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>
        </MyCustomAppender>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="PremiumTerminal"/>
        </Root>
    </Loggers>
</Configuration>
